body{
    background-color: rgb(41, 70, 124) !important;
}
html{
    max-width:100%;
    overflow-x:hidden;
}
.jokerBody{
    position: relative;
    padding:12px;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    color:white;
}
.jokeHead{
    color:rgb(34, 78, 197);
    font-weight:bolder;
    padding:18px;
    background-color: rgb(241, 247, 244);
}
.jokePara{
    color:white;
    font-size: x-large;
    font-weight: bold;
}
.knock{
    font-size: larger;
    font-weight: bolder;
}
#footer{
    min-height:200px;
    min-width:100%;
}